@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Winky Sans", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBD3D8;
}

h1 {
    margin-top: 15px;
    font-size: 65px;
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

button {
    height: 130px;
    width: 130px;
    border-radius: 1rem;
    box-shadow: 15px 15px 5px rgba(51, 6, 86, 0.5);
    border: none;
    font-size: 100px;
    font-weight: 500;
    background-color: #223843;
    color: #EFF1F3;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 430px;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.reset {
    height: 50px;
    margin-top: 50px;
    background-color: #223843;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.winner {
    background-color: #E8F0FF;
    border: 15px solid #6874E8;
    color: #392759;
    font-size: 100px;
    font-weight: 600;
    height: 250px;
    width: 800px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 25px 28px 18px rgb(58, 57, 109);
    margin-top: 150px;
}

.draw {
    background-color: #E8F0FF;
    border: 15px solid #6874E8;
    color: #392759;
    font-size: 100px;
    font-weight: 600;
    height: 250px;
    width: 800px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 25px 28px 18px rgb(58, 57, 109);
    margin-top: 150px;
}
